#main-separator-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------------------- */
#div-form-add-task {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

#div-form-add-task h1 {
    text-align: center;
}

#form-add-task {
    border: 1px solid silver;
    border-radius: 10px;
    width: 70%;
    padding: 20px;

}

/* Todos os inputs tipo texto dentro desse form */
#form-add-task input[type='text'] {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

#form-add-task textarea {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-save-task {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #6100e08a;
    color: white;
    cursor: pointer;
}

#btn-save-task:hover {
    background-color: #9f56ff8a;
}

/* ---------------------------------- */

#list-of-tasks {
    width: 100%;
    padding: 10px;

}


#list-of-tasks h1 {
    text-align: center;
}

.task-item {
    padding: 6px;
    margin: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.task-item p h2 {
    padding: none;
    margin: none;
}

.error-banner {
    background-color: #e800008a;
    color: rgb(90, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.task_action_butons {
    display: flex;
    justify-content: space-between;
}

.task_pending {
    background-color: #bc91028a;
    color: #885e05;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: bolder;
}

.task_done {
    background-color: #03a959af;
    color: #113e00;
    padding: 2px;
    border-radius: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    font-weight: bolder;
}

.task_undefined {
    background-color: #f0161673;
    color: #4a0707;
    padding: 2px;
    border-radius: 5px;
}

.btn-complete-task {
    background-color: #03a959af;
    border: none;
    color: #113e00;
    padding: 4px;
    border-radius: 5px;
}

.btn-complete-task:hover {
    background-color: #04a0556d;
    color: #113e00;
    cursor: pointer;
}


.btn-delete-task {
    background-color: #f0161673;
    border: none;
    color: #4a0707;
    padding: 4px;
    border-radius: 5px;
}

.btn-delete-task:hover {
    background-color: #f016162e;
    color: #4a0707;
    cursor: pointer;
}


.btn-archive-task {
    background-color: #5502ae73;
    border: none;
    color: #03186f;
    padding: 4px;
    border-radius: 5px;
}

.btn-archive-task:hover {
    background-color: #7003e373;
    color: #03186f;
    cursor: pointer;
}

.btn-edit-task {
    background-color: rgb(182, 2, 62);
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.btn-edit-task:hover {
    background-color:  rgb(190, 71, 111);;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}