#main-separator-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

/* ---------------------------------- */
#div-form-add-task {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

#div-form-add-task h1 {
    text-align: center;
}

#form-add-task {
    border: 1px solid silver;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    
}

/* Todos os inputs tipo texto dentro desse form */
#form-add-task input[type='text'] {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

#form-add-task textarea {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-save-task {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #6100e08a;
    color: white;
    cursor: pointer;
}

#btn-save-task:hover {
        background-color: #9f56ff8a;
}

/* ---------------------------------- */

#list-of-tasks {
    width: 100%;
    padding: 10px;

}


#list-of-tasks h1 {
    text-align: center;
}

.task-item {
    background-color: bisque;
    padding: 3px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   align-items: center; 
}

.task-item p h2 {
    padding: none;
    margin: none;
}

.error-banner {
    background-color: #e800008a;
    color: rgb(90, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
}